* {

}

body, html {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to top, #ef32d9, #89fffd);
  padding: 0;
  margin: 0;
}
/* MAIN LOGIN */
.loginPage {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  height: 50%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
}

.login-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* MAIN WRAPPER */
.mainPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  background: linear-gradient(to top, #ef32d9, #89fffd);
  justify-content: flex-start;
}
 /* NAV START */
nav {
  height: 100vh;
  width: 10vw;
  display: flex;
  flex-direction: column;
}

.title {
  height: 23%;
  font-size: 40px;
  margin: 0;
  background: white;
  border-bottom-right-radius: 25px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.button-wrapper {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}


button {
  height: 10vh;
  width: 10vw;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
}

button.active {
  background-color: rgba(255, 255, 255, 1);
}
/* NAV END */
/* WRAPPER */
.wrapper {
  height: 100vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
}

.head {
  height: 10vh;
  width: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
}

.tabs-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.button-heading {
  height: auto;
  width: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}

.box {
  height: 100%;
  width: 100%;
  display: none;
  grid-template-columns: repeat(2, 50%);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  overflow-y: scroll;
  overflow-x: hidden;
}


.box.active {
  display: grid;
}
/* USER CARD */
.traveler-card {
  height: inherit;
  width: inherit;
  color: black;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture {
  height: 30%;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0px
}
/* USER CARD END */

/* FORM */
.trips-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-two-wrapper {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
}

.form-two-ul {
  height: 45%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

input, select, .traveler-card {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
}
/* FORM END */
/* WRAPPER END */
.hidden {
  display: none!important;
}

.login-hide {
 display: none;
}
